<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.btmtest"
      android:versionCode="103"
      android:versionName="1.03">

    <!--    android:roundIcon="@mipmap/ic_launcher_round" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_title_8man"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity"
                  android:configChanges="orientation|screenSize"
	    		        android:theme="@style/AppTheme.NoActionBar"
        			android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <!--			android:screenOrientation="portrait"-->
    <!--			android:screenOrientation="sensor"-->
    <!--          android:configChanges="orientation|screenSize" -->
    <!--          android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|layoutDirection" -->
    </application>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature    android:name="android.hardware.bluetooth" android:required="false" /> <!--v106-->
    <uses-feature    android:name="android.hardware.wifi.direct" android:required="false" />


    <!--			android:screenOrientation="portrait"-->
</manifest>