<?xml version="1.0" encoding="utf-8"?>
<!--
//**********************************************************************************************
//2025/02/06 vayc back to manifest:sensorport. on Adroid10(api29) and also on emulator with android10, display no button at startup when start from landscape. 
//               DragonTouch(A10) is missing option of gesture navigation, but when tryed it on emulator, half of button array was overrided by narrow navigation bar.
//               Nevertheless on foldable device emulator cause destroy when left-right open(naturally landscape).
//               As a result, select NOT SENSOR_PORT
//2023/02/22 vay0 v1.29 api14(Android34) is required.
//**********************************************************************************************
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="129"
      android:versionName="1.29">     <!--vay0-->
 <!--   package="com.btmtest" 2-24/01/15 moved to module build.gradle -->
 <!--   xmlns:tools="http://schemas.android.com/tools" --> <!-- Warning:never used -->

    <!--uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android.maxSdkVersion="30"/> <!--api30=android11=R vam4-->
    <!--uses-permission android:name="android.permission.BLUETOOTH" /-->
    <uses-permission android:name="android.permission.BLUETOOTH" android.maxSdkVersion="30"/>  <!--api30=AndroidR=11 vam4-->
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>  <!--vam9-->

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
						android:usesPermissionFlags="neverForLocation"/>       <!--vam4 vas6-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>       <!--vam4-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>       <!--added in api31:android12=S vam4-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
					 android.maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /-->     <!--vatd but required for api29 vatd-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android.maxSdkVersion="30"/>     <!--vatd but required for api29 vatd-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />  <!--add vatd-->

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IAMGES" />
    <!--uses-permission android:name="android.permission.GET_TASKS" /--> <!--getRunningTasks(deprecated at Android5:L:21) requires GET_TASKS -->

	<!-- Required only if your app targets Android 13 or higher. IF NOT USING ADID, NO NEED TO SET PARMISSION-->
    <!--uses-permission android:name="com.google.android.gms.permission.AD_ID"/-->

    <uses-feature    android:name="android.hardware.bluetooth" android:required="false" /> <!--v106-->
    <uses-feature    android:name="android.hardware.wifi.direct" android:required="false" />

    <!--    android:roundIcon="@mipmap/ic_launcher_round" -->
    <!--android:icon="@drawable/icon_title_8man"-->
    <!--android:roundIcon="@mipmap/ic_launcher_8man_round"-->
    <!--android:roundIcon="@mipmap/ic_launcher_8man" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:theme="@style/AppTheme.NoActionBar">
  <!--  											android:resizeableActivity="false"-->
  <!--  android:configChanges="screenLayout|smallestScreenSize|screenSize|orientation"
		android:resizeableActivity="false"
   --><!-- @@@@test -->
        <activity android:name=".MainActivity"
	    		        android:theme="@style/AppTheme.NoActionBar"
        			android:exported="true"
                  android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
		          android:resizeableActivity="true"
        >
        <!--
        		  android:screenOrientation="sensorPortrait"  initially free to avoid google waring, it may be in the feature
        		  android:resizeableActivity="false"
                  android:configChanges="orientation|screenSize"
        -->    <!--vay0-->
        <!--										android:resizeableActivity="true" --><!-- vay0-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <!--    android:requestLegacyExternalStorage="true" ignored from Android11-->
    <!--			android:screenOrientation="portrait"-->
    <!--			android:screenOrientation="sensor"-->
    <!--			android:screenOrientation="sensorPortrait"-->
    <!--			android:screenOrientation="fullSensor"-->
    <!--    			android:screenOrientation="reversePortrait"-->
    <!--          android:configChanges="orientation|screenSize" -->
    <!--          android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|layoutDirection" -->
 <!--
    <meta-data    android:name="firebase_analytics_adid_collection_deactivated" android:value="true"/>
    <meta-data    android:name="google_analytics_adid_collection_enabled" android:value="false"/>
 -->
    <!--meta-data   android:name="android.supports_size_changes" android:value="true" /-->   <!-- @@@@test -->
    </application>


    <!--			android:screenOrientation="portrait"-->
</manifest>